div {
  text-align: center;  
}

.fcontainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 30px;
}

.bar-chart {
  width: 500px;
  height: 350px;
}

.parl {
  display: block;
  margin: auto;
}

.seatDisplay { fill: #BBBBBB22; }
.For .seatDisplay { fill: #00FF00; }
.Against .seatDisplay { fill: #FF0000; }
.Neutral .seatDisplay { fill: #AAAAAA; }
.disabled .seatDisplay { fill: #BBBBBB22; }

.seatDecorator { fill: #000000; }
.disabled .seatDecorator { fill: #BBBBBB22; }

html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  line-height: 30px;
  background-color: #f5f5f5;
  padding: 10px;
}
